---
---

@import "{{ site.theme }}";

#header_wrap .inner {
	padding: 40px 10px 20px 10px;
}

#main_content img {
  display:block;
  margin: 0 auto;
  width:100%;
}


// #main_content img[src$="center"] {
//   display:block;
//   margin: 0 auto;
//   width:100%;
// }

